@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&family=Michroma&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Silkscreen:wght@400;700&family=Island+Moments&family=Mea+Culpa&family=Loved+by+the+King&family=Uncial+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho-claro: #b41e00;
    --vermelho: #8f1800;
    --vermelho-escuro: #750d06;
    --creme: #feefdd;
    --preto: #090b0f;
    --cinza-escuro: #0f121a;
    --cinza: #262830;
}

body {
    font-family: 'Grotesk', sans-serif;
    background-image: radial-gradient( var(--cinza), var(--cinza-escuro), var(--preto) );
    background-size: 400% 100%;
    animation: gradient-animated 5s infinite alternate;
}

@keyframes gradient-animated {
    0% {
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

header {
    position: relative;
    width: auto;
    height: 1080px;
}

#logo {
    position: absolute;
    color: var(--creme);
    font-weight: 600;
    left: 4%;
    top: 2.5%;
}

#menu {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color: transparent;
    position: absolute;
    left: 80%;
    top: 2.6%;
}


#menu .menu_item {
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
    color: var(--creme);
    text-align: center;
}

.menu_item:hover {
    cursor: pointer;
    background-color: #1a202e4b;
    border-radius: 10px;
    height: 50px;
}

#icon_menu {
    margin-top: -3px;
}

@media screen and (max-width: 650px) {
    #menu {
        flex-direction: column;
    }

    #logo {
        width: 100%;
    }

    #menu #icon_menu::before {
        position: absolute;
        content: "menu";
        font-family: "Material Symbols Outlined";
        top: 0;
        left: 0;
        font-size: 30px;
    }

    #menu .menu_item {
        width: 100%;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: 0.25s;
    }

    #menu .item {
        width: 100%;
        padding: 15px;
        border-radius: 0;
        border: 0.5em solid var(--cinza);
    }

    #menu:checked ~.menu_item {
        max-height: 500px;
    }
}


#album {
    width: 30%;
    position: absolute;
    top: 15%;
    right: 60%;
    z-index: 1;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.349);
}

#disk {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 20%;
    border-radius: 100%;
    filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.479));
}

#dev {
   font-family: "Orbitron", sans-serif;
   color: var(--creme);
   position: absolute;
   top: 25.7%;
   right: 10%;
}

#line {
  border: none;
  height: 0.3px;
  background-color: var(--creme);
  width: 23.6%;
  position: absolute;
  right: 20%;
  top: 26.8%;
}


#my {
    font-size: 500%;
    color: var(--creme);
    font-family: "Mea culpa", cursive;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.589);
    position: absolute;
    left: 56%;
    top: 29%;
}

#portifoly {
    font-size: 500%;
    font-family: 'Silkscreen', sans-serif;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.699);
    -webkit-text-stroke: 3px var(--creme);
    position: absolute;
    left: 57%;
    top: 34%;
    background: linear-gradient( 45deg ,var(--vermelho), var(--vermelho-escuro));
    background-size: 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-gradient 10s linear infinite alternate;
}

#character {
    position: absolute;
    left: 70%;
    top: 26%;
    filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.479));
}

#seph {
    position: absolute;
    left: 58%;
    top: 14.5%;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0, 0.712));
    width: 160px;
}

.sobre {
    position: relative;
    height: 1000px;
    border-top: 10px solid var(--creme);
    display: flex;
    align-items: end;

    background-color: var(--creme);
    background-image: 
    linear-gradient(45deg, var(--preto) 25%, transparent 25%), 
    linear-gradient(-45deg, var(--preto) 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, var(--preto) 75%), 
    linear-gradient(-45deg, transparent 75%, var(--preto) 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px; 
}

.box {
    position: relative;
    width: 1851px;
    height: 700px;
    border-top: 10px solid var(--creme);
    background-color:  var(--vermelho);
}


#on {
    font-size: 140px;
    font-family: "Mea Culpa", cursive;
    text-shadow: 2px 2px 0px var(--preto);
    position: absolute;
    left: 58%;
    top: 5%;
    color: var(--vermelho);
}

#hello {
    font-size: 200px;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0.37);
    background: -webkit-linear-gradient( #dddee72f, #0e258a1e);
    -webkit-background-clip: text;
    font-family: 'Silkscreen', sans-serif;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.397);
    position: absolute;
    top: 70%;
    left: 24%;
}

#pin {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: radial-gradient(#f02011, #8f1800, #0e0202 );
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.432);
    z-index: 4;
    bottom: 71.7%;
    left: 32.6%;
    border-radius: 100%;
}

#smile {
    position: absolute;
    color: rgba(94, 10, 10, 0.541);
    left: -8%;
    top: -8%;
    font-size: 69px;
    transform: rotate(-20deg);
}

#photo {
    width: 480px;
    height: 590px;
    background-color: var(--creme);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.664);
    position: absolute;
    bottom: 16%;
    left: 13%;
    z-index: 2;
    transform: rotate(-10deg);
    border: 1px solid var(--vermelho-escuro);
}

#line_one {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 20px;
}

#line_two {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 20px;
}

#sophie {
    width: 200px;
    border: 1px solid var(--vermelho-escuro);
}

#id {
    position: absolute;
    bottom: 0%;
    left: 35%;
    font-family: "Island Moments",cursive;
    font-size: 50px;
    color: var(--vermelho-escuro);
}

#hi {
    position: absolute;
    bottom: 6%;
    left: 5%;
    font-family: "Italianno",cursive;
    font-size: 140px;
    color: var(--creme);
    text-shadow: 
    -1px -1px 0 var(--preto), 
     1px -1px 0 #000, 
    -1px  1px 0 #000, 
     3px  3px 0 #000;
}

#flag {
    position: absolute;
    width: 100px;
    bottom: 39%;
    left: 20%;
    z-index: 3;
    filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.377));
    transform: rotate(-30deg);
}

#Im {
    position: absolute;
    width: 160px;
    top: 28%;
    left: 34%;
    z-index: 4;
    filter: drop-shadow( -3px 3px 2px rgba(0, 0, 0, 0.377));
    transform: rotate(9deg);
}

#lore-box {
    position: absolute;
    width: 600px;
    height: 500px;
    background-color: var(--preto);
    right: 10%;
    bottom: 15%;
    border-radius: 60px;
}

.lore {
    position: absolute;
    width: 600px;
    height: 500px;
    background-color: var(--creme);
    border: 2px solid var(--preto);
    right: 0%;
    bottom: -9%;
    border-radius: 60px;
}

#engines {
    font-size: 160px;
    font-weight: 600;
    font-family: "Mea Culpa", cursive;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    position: absolute;
    right:20%;
    color: var(--creme);
}

