@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&family=Michroma&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=Silkscreen:wght@400;700&family=Island+Moments&family=Loved+by+the+King&family=Uncial+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Grotesk', sans-serif;
    background-image: radial-gradient(#551117, #1d0605);
}

header {
    position: relative;
    width: auto;
    height: 1080px;
}

#logo {
    position: absolute;
    color: white;
    font-weight: 600;
    left: 4%;
    top: 2.5%;
}

.menu {
    color: white;
    font-weight: 600;
    position: absolute;
    display: flex;
    right: 4%;
    top: 0.9%;
}

li {
    padding: 20px;
    list-style-type: none;
}

li:hover {
    text-decoration: underline 2px;
    cursor: pointer;
}

#icon_menu {
    margin-top: -4.3px;
}


#album {
    width: 30%;
    position: absolute;
    top: 15%;
    right: 60%;
    z-index: 1;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.349);
}

#disk {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 20%;
    border-radius: 100%;
    filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.479));
}

#dev {
   font-family: "Orbitron", sans-serif;
   color: white;
   position: absolute;
   top: 25.7%;
   right: 10%;
}

#line {
  border: none;
  height: 0.3px;
  background-color: #ffffff;
  width: 23.6%;
  position: absolute;
  right: 20%;
  top: 26.8%;
}


#my {
    font-size: 500%;
    color: rgb(255, 255, 255);
    font-family: "Silkscreen", sans-serif;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.589);
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    position: absolute;
    left: 56%;
    top: 30%;
}

#portifoly {
    font-size: 500%;
    font-family: 'Silkscreen', sans-serif;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.699);
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    position: absolute;
    left: 57%;
    top: 34%;
    background: -webkit-linear-gradient( #8a2020, #551117);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#character {
    position: absolute;
    left: 70%;
    top: 26%;
    filter: drop-shadow(3px 3px 15px rgba(0, 0, 0, 0.479));
}

#seph {
    position: absolute;
    left: 58%;
    top: 14.5%;
    filter: drop-shadow(5px 6px 15px rgba(0, 0, 0, 0.712));
    width: 160px;
}

main {
    position: relative;
    height: 1080px;
}

#on {
    font-size: 500%;
    font-family: 'Silkscreen', sans-serif;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.699);
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 30%;
    background: -webkit-linear-gradient( #551117, #ff9c94);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hello {
    font-size: 200px;
    -webkit-text-stroke: 3px rgba(255, 255, 255, 0.37);
    background: -webkit-linear-gradient( #dddee72f, #0e258a1e);
    -webkit-background-clip: text;
    font-family: 'Silkscreen', sans-serif;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.397);
    position: absolute;
    top: 80%;
    left: 24%;
}

#letter {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 2;
    width: 700px;
    transform: rotate(-10deg); 
    filter:grayscale(100%) drop-shadow( 3px 3px 15px rgba(0, 0, 0, 0.411));
}

#photo {
    width: 370px;
    height: 480px;
    background-color: rgb(231, 231, 231);
    box-shadow:-6px 6px 8px rgba(0, 0, 0, 0.753);
    position: absolute;
    bottom: 10%;
    left: 20%;
    z-index: 2;
    transform: rotate(-10deg);
}

#sophie {
    width: 300px;
    position: absolute;
    left: 10%;
    top: 6%;
}

#id {
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-family: "Island Moments",cursive;
    font-size: 60px;
    transform: rotate(-10deg);
}

#age {
    position: absolute;
    bottom: 0%;
    left: 5%;
    font-family: "Island Moments",cursive;
    font-size: 60px;
}

#lang {
    position: absolute;
    bottom: -2%;
    left: 69%;
    font-family: "Loved by the King",cursive;
    font-size: 36px;
}

#flag {
    position: absolute;
    width: 100px;
    bottom: 10%;
    left: 20%;
    z-index: 3;
    filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, 0.377));
    transform: rotate(-30deg);
}

#Im {
    position: absolute;
    width: 160px;
    top: 48%;
    left: 34%;
    z-index: 3;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.377));
    transform: rotate(9deg);
}

#game {
    font-size: 36px;
    font-weight: 600;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    background: -webkit-linear-gradient( #5d6dff, #ffffff);
    -webkit-background-clip: text;
    font-family: 'Silkscreen', sans-serif;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    position: absolute;
    top: 58%;
    left: 37%;
    z-index: 4;
    transform: rotate(-10deg);
}

#profile {
    font-size: 36px;
    font-weight: 600;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    background: -webkit-linear-gradient( #5d6dff31, #16139c8e);
    -webkit-background-clip: text;
    font-family: 'Silkscreen', sans-serif;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    position: absolute;
    top: 59%;
    left: 40%;
    z-index: 4;
    transform: rotate(-10deg);
}

